.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px !important;
}

.divider {
  margin-top: 10px !important;
}

.mat-step-header {
  pointer-events: none !important;
}

.reset-page {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.w-95 {
  width: 95%;
  margin-left: 20px;
}

.text-center {
  text-align: center;
  /*color:#3f51b5;*/
}

.reset-form {
  padding: 60px;
  background: #fff;
  width: 600px;
  box-shadow: 0 0 40px #ddd;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px white inset;
}

.mat-raised-button {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

mat-icon {
  color: gray;
}
