
<div class="reset-page">
  <div class="reset-form">
    <div class="text-center">
      <h4 class="app-name">Réinitialisation du mot de passe</h4>
    </div>

    <!-- Étape 1 : Saisie de l'email -->
    <div *ngIf="!otpSent">
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit('suivant')" novalidate>
        <div class="form-container">
          <mat-form-field class="w-95">
            <input id="email" matInput formControlName="email" placeholder="Mail" required />
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="resetForm.get('email')?.hasError('required')">Votre adresse Mail est <strong>obligatoire</strong></mat-error>
            <mat-error *ngIf="resetForm.get('email')?.hasError('email')">Veuillez entrer une adresse de courriel électronique valide</mat-error>
          </mat-form-field>
          <button mat-button type="submit" [disabled]="resetForm.invalid" class="mat-raised-button mat-primary">Envoyer</button>
        </div>
      </form>
    </div>

    <!-- Étape 2 : Saisie du code OTP -->
    <div *ngIf="otpSent && !otpVerified">
      <form [formGroup]="resetFormE2" (ngSubmit)="onSubmit('valider')" novalidate>
        <div class="form-container">
          <mat-form-field class="w-95">
            <input id="otp" matInput formControlName="otp" placeholder="OTP" required />
            <mat-error *ngIf="resetFormE2.get('otp')?.hasError('required')">Veuillez entrer le code OTP reçu par e-mail</mat-error>
          </mat-form-field>
          <button mat-button type="submit" [disabled]="resetFormE2.invalid" class="mat-raised-button mat-primary">Valider</button>
        </div>
      </form>
    </div>
    <!-- Étape 3 : Saisie du nouveau mot de passe -->
    <div *ngIf="otpVerified">
      <form [formGroup]="resetFormE3" (ngSubmit)="onSubmit('done')" novalidate>
        <div class="form-container">
          <mat-form-field class="w-95">
            <input id="password" matInput formControlName="password" placeholder="Nouveau mot de passe" type="password" required />
            <mat-error *ngIf="resetFormE3.get('password')?.hasError('required')">Votre mot de passe est <strong>obligatoire</strong></mat-error>
            <mat-error *ngIf="resetFormE3.get('password')?.hasError('minlength')">Le Mot de passe doit comporter 8 caractères minimum</mat-error>
          </mat-form-field>
          <mat-form-field class="w-95">
            <input id="confirmPassword" matInput formControlName="confirmPassword" placeholder="Confirmer le mot de passe" type="password" required />
            <mat-error *ngIf="resetFormE3.get('confirmPassword')?.hasError('required')">Retapez le mot de passe pour confirmation</mat-error>
            <mat-error *ngIf="!resetFormE3.get('confirmPassword')?.hasError('required') && resetFormE3.get('confirmPassword')?.hasError('notEqual')">Les mots de passe saisis ne sont pas identiques</mat-error>
          </mat-form-field>
          <button mat-button type="submit" [disabled]="resetFormE3.invalid" class="mat-raised-button mat-primary">Valider</button>
        </div>
      </form>
    </div>



    <!-- Afficher les erreurs globales -->
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </div>
</div>
